<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.12.4057.21792" targetFramework="net461" />
  <package id="AWhewell.InterfaceFactory" version="4.0.0" targetFramework="net461" />
  <package id="AWhewell.Owin" version="1.0.0-beta35" targetFramework="net461" />
  <package id="AWhewell.Owin.Host.HttpListener" version="1.0.0-beta35" targetFramework="net461" />
  <package id="AWhewell.Owin.Host.Ram" version="1.0.0-beta35" targetFramework="net461" />
  <package id="AWhewell.Owin.Utility" version="1.0.0-beta35" targetFramework="net461" />
  <package id="AWhewell.Owin.WebApi" version="1.0.0-beta35" targetFramework="net461" />
  <package id="Dapper" version="1.50.4" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="VirtualRadar.PluginLibraries" version="3.0.0-beta02" targetFramework="net461" />
</packages>